html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body, html {
  line-height: 1;
  float: none;
  margin: 0 auto;
  min-width: 1080px;
  position: relative;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #F9F9F9; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh; }

ul {
  list-style-type: none; }

ol {
  list-style-type: decimal; }

span {
  display: inline-block; }

strong {
  font-weight: bold; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

a {
  text-decoration: none;
  cursor: pointer; }

* {
  outline: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section {
  float: left;
  width: 100%; }

.container {
  width: 100% !important;
  max-width: 1080px !important;
  padding: 0 50px !important; }

.basic-button {
  width: 100%;
  float: left;
  height: 130px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  border-radius: 30px;
  border: none;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms; }
  .basic-button:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9); }
  .basic-button.green {
    background: -webkit-linear-gradient(2.08deg, #6FCD8C 21.15%, #5AA26E 86.52%);
    background: -o-linear-gradient(2.08deg, #6FCD8C 21.15%, #5AA26E 86.52%);
    background: linear-gradient(87.92deg, #6FCD8C 21.15%, #5AA26E 86.52%);
    color: #fff !important; }
  .basic-button.blue {
    background: -webkit-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
    background: -o-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
    background: linear-gradient(32.49deg, #61ADFF 15.19%, #257CDA 81.48%);
    color: #fff !important; }
  .basic-button.red {
    background: -webkit-linear-gradient(57.51deg, #D13B78 15.19%, #A9124F 81.48%);
    background: -o-linear-gradient(57.51deg, #D13B78 15.19%, #A9124F 81.48%);
    background: linear-gradient(32.49deg, #D13B78 15.19%, #A9124F 81.48%);
    color: #fff !important; }
  .basic-button.white {
    background: #FFFFFF;
    color: #D13B78;
    text-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07); }

.first-level-title {
  float: left;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 52px; }

.basic-screen-wrp, .back-and-title-wrp {
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 1s;
  -webkit-transition: ease-in-out 1s;
  -moz-transition: ease-in-out 1s;
  -ms-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s; }
  .basic-screen-wrp.visible, .back-and-title-wrp.visible {
    opacity: 1;
    visibility: visible; }

.header {
  float: left;
  width: 100%; }

.header-content {
  float: left;
  width: 100%;
  padding: 72px 0 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-content .basic-button {
    width: 470px; }

.logo {
  width: 300px;
  float: left;
  text-decoration: none !important;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms; }
  .logo:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9); }
  .logo__image {
    float: left;
    width: 100%; }

.go-home {
  width: 130px;
  height: 130px;
  background: -webkit-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
  background: -o-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
  background: linear-gradient(32.49deg, #61ADFF 15.19%, #257CDA 81.48%);
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 30px;
  text-decoration: none !important;
  position: relative;
  overflow: hidden;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms; }
  .go-home:before {
    content: '';
    display: block;
    float: left;
    width: 60px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("../img/home.svg") no-repeat;
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .go-home:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9); }

.main {
  float: left;
  width: 100%;
  margin-bottom: auto;
  margin-top: 0; }

.main-screen-content {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 24px; }
  .main-screen-content > div {
    margin-bottom: 40px; }

.main-screen-item {
  float: left;
  width: 100%;
  height: 100%;
  min-height: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  text-decoration: none !important;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms; }
  .main-screen-item:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9); }
  .main-screen-item.print {
    background: -webkit-linear-gradient(57.51deg, #D13B78 15.19%, #A9124F 81.48%);
    background: -o-linear-gradient(57.51deg, #D13B78 15.19%, #A9124F 81.48%);
    background: linear-gradient(32.49deg, #D13B78 15.19%, #A9124F 81.48%); }
  .main-screen-item.copy {
    background: -webkit-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
    background: -o-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
    background: linear-gradient(32.49deg, #61ADFF 15.19%, #257CDA 81.48%); }
  .main-screen-item.scan {
    background: -webkit-linear-gradient(57.51deg, #FFD209 15.19%, #D77400 81.48%);
    background: -o-linear-gradient(57.51deg, #FFD209 15.19%, #D77400 81.48%);
    background: linear-gradient(32.49deg, #FFD209 15.19%, #D77400 81.48%); }
  .main-screen-item.promotion {
    background: -webkit-linear-gradient(57.51deg, #4738DB 15.19%, #2A1AC6 81.48%);
    background: -o-linear-gradient(57.51deg, #4738DB 15.19%, #2A1AC6 81.48%);
    background: linear-gradient(32.49deg, #4738DB 15.19%, #2A1AC6 81.48%); }
  .main-screen-item__text {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #fff !important;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    position: relative;
    z-index: 30; }
  .main-screen-item__image {
    width: 387px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    pointer-events: none; }

.footer {
  float: left;
  width: 100%; }

.footer-content {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 60px; }

.back-row {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 0 40px 0; }
  .back-row__title {
    width: auto;
    max-width: calc(100% - 210px);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px; }

.back {
  width: 210px;
  height: 80px;
  padding: 0 30px 0 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-decoration: none !important;
  background: #000000;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms; }
  .back:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9); }
  .back:before {
    content: '';
    display: block;
    float: left;
    width: 40px;
    height: 32px;
    position: absolute;
    left: 30px;
    top: 50%;
    background: url("../img/back.svg") no-repeat;
    background-size: 100% 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%); }

.questions-content {
  float: left;
  width: 100%; }
  .questions-content .basic-button {
    margin-bottom: 40px; }

.questions-akkordeon {
  float: left;
  width: 100%;
  height: auto;
  max-height: 1380px;
  overflow-y: auto; }
  .questions-akkordeon__item {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 30px; }
  .questions-akkordeon__link {
    float: left;
    width: 100%;
    height: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 80px 5px 40px;
    text-decoration: none !important;
    position: relative; }
    .questions-akkordeon__link:after {
      content: '';
      display: block;
      float: left;
      width: 26px;
      height: 14px;
      position: absolute;
      right: 40px;
      top: 50%;
      background: url("../img/chevron-down.svg") no-repeat;
      background-size: 100% 100%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -webkit-transition: ease-in-out 300ms;
      -moz-transition: ease-in-out 300ms;
      -ms-transition: ease-in-out 300ms;
      -o-transition: ease-in-out 300ms;
      transition: ease-in-out 300ms; }
    .questions-akkordeon__link.active:after {
      transform: translateY(-50%) rotate(180deg);
      -webkit-transform: translateY(-50%) rotate(180deg);
      -moz-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
      -o-transform: translateY(-50%) rotate(180deg); }
    .questions-akkordeon__link.active .questions-akkordeon__name {
      color: #257CDA; }
  .questions-akkordeon__name {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms; }

.questions-akkordeon-info {
  float: left;
  width: 100%;
  padding: 0 40px 40px 40px;
  display: none; }
  .questions-akkordeon-info__text {
    float: left;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 30px; }
    .questions-akkordeon-info__text:last-child {
      margin-bottom: 0; }

.ask-a-question-content {
  float: left;
  width: 100%;
  padding-top: 16px; }

.question-form {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .question-form > div {
    margin-bottom: 30px; }
  .question-form .basic-button {
    margin-top: 10px;
    margin-bottom: 20px; }

.input-row {
  float: left;
  width: 100%; }
  .input-row__input {
    float: left;
    width: 100%;
    height: 130px;
    padding: 0 40px;
    border: 2px solid transparent;
    background: #F2F2F2;
    -webkit-box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.04);
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    font-size: 24px;
    color: #000; }
    .input-row__input::-moz-placeholder {
      color: #000; }
    .input-row__input::-webkit-input-placeholder {
      color: #000; }
    .input-row__input.complete {
      border: 2px solid #61ADFF; }
    .input-row__input.error {
      border: 2px solid #C02300; }
    .input-row__input.basic-textarea {
      resize: none;
      height: 260px;
      padding: 50px 40px; }

.questions-form-info {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .questions-form-info__policy-text {
    width: 100%;
    text-align: center;
    float: left;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px; }
  .questions-form-info__link {
    display: inline;
    color: #257CDA !important;
    text-decoration: underline !important; }
  .questions-form-info__terminal-problem {
    text-align: center;
    width: 100%;
    font-size: 24px;
    line-height: 29px; }
    .questions-form-info__terminal-problem span {
      display: inline;
      font-weight: 600; }

.policy-content {
  float: left;
  width: 100%; }
  .policy-content .first-level-title {
    text-align: left; }

.policy-info {
  float: left;
  width: 100%;
  height: auto;
  max-height: 1245px;
  overflow: auto; }
  .policy-info__block {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px; }
  .policy-info__title {
    float: left;
    width: 100%;
    font-weight: 600;
    margin-bottom: 20px; }
  .policy-info__text {
    float: left;
    width: 100%; }

.price-content {
  float: left;
  width: 100%; }

.price-list {
  float: left;
  width: 100%; }
  .price-list__item {
    float: left;
    width: 100%;
    margin-bottom: 40px;
    padding: 1px;
    border-radius: 31px;
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    -ms-border-radius: 31px;
    -o-border-radius: 31px;
    overflow: hidden;
    background-color: #000;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms; }
    .price-list__item:active {
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9); }
    .price-list__item.one-side {
      background: #d13b78;
      background: -webkit-linear-gradient(170deg, #d13b78 0%, #a9124f 100%);
      background: -o-linear-gradient(170deg, #d13b78 0%, #a9124f 100%);
      background: linear-gradient(280deg, #d13b78 0%, #a9124f 100%); }
    .price-list__item.two-side {
      background: #d13b78;
      background: -webkit-linear-gradient(170deg, #d13b78 0%, #a9124f 100%);
      background: -o-linear-gradient(170deg, #d13b78 0%, #a9124f 100%);
      background: linear-gradient(280deg, #d13b78 0%, #a9124f 100%); }
    .price-list__item.copy {
      background: #61adff;
      background: -webkit-linear-gradient(170deg, #61adff 0%, #257cda 100%);
      background: -o-linear-gradient(170deg, #61adff 0%, #257cda 100%);
      background: linear-gradient(280deg, #61adff 0%, #257cda 100%); }
    .price-list__item.scan {
      background: #ffd209;
      background: -webkit-linear-gradient(170deg, #ffd209 0%, #d77400 100%);
      background: -o-linear-gradient(170deg, #ffd209 0%, #d77400 100%);
      background: linear-gradient(280deg, #ffd209 0%, #d77400 100%); }

.price-list-link {
  float: left;
  width: 100%;
  height: 200px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-decoration: none !important;
  padding: 20px 30px 20px 77px; }
  .price-list-link__name {
    width: auto;
    max-width: 50%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000 !important; }
  .price-list-link__price-block {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .price-list-link__price-descript {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 14px;
    color: #000000 !important; }
  .price-list-link__price {
    font-weight: 700;
    font-size: 42px;
    background: -webkit-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
    background: -o-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
    background: linear-gradient(32.49deg, #61ADFF 15.19%, #257CDA 81.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07); }

.rent-powerbank-content {
  float: left;
  width: 100%; }

.rent-powerbank-list {
  float: left;
  width: 100%;
  margin-bottom: 70px; }
  .rent-powerbank-list:last-child {
    margin-bottom: 0; }
  .rent-powerbank-list__item {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 30px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 40px;
    min-height: 290px; }
  .rent-powerbank-list__left-side {
    width: calc(100% - 262px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .rent-powerbank-list__step {
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background: #33CC33;
    -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 20px;
    overflow: hidden;
    color: #fff;
    font-size: 42px;
    font-weight: 700; }
  .rent-powerbank-list__name {
    width: calc(100% - 80px);
    padding-left: 30px;
    font-size: 24px;
    line-height: 29px; }
    .rent-powerbank-list__name strong {
      display: inline;
      font-weight: 600; }
  .rent-powerbank-list__right-side {
    width: 262px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .rent-powerbank-list__scan-qr {
    width: 200px; }
  .rent-powerbank-list__follow-instructions {
    width: 100%; }

.download-apps {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .download-apps__text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px; }

.apps-list {
  float: left;
  width: 100%; }
  .apps-list__item {
    float: left;
    width: 100%;
    margin-bottom: 20px; }
    .apps-list__item:last-child {
      margin-bottom: 0; }
  .apps-list__link {
    float: left;
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms; }
    .apps-list__link:active {
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9); }
  .apps-list__image {
    float: left;
    width: 100%; }

.get-energy-logo-block {
  float: left;
  width: 100%;
  padding: 60px 0 130px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.get-energy-logo {
  width: 520px;
  float: left; }
  .get-energy-logo__image {
    width: 100%; }

.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
  pointer-events: none; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-top: -80px; }
  .modal-dialog.basic-dialog {
    width: 640px; }
  .modal-dialog.with-image {
    width: 980px; }
    .modal-dialog.with-image .modal-content {
      padding: 0;
      position: relative;
      padding-left: 300px; }
    .modal-dialog.with-image .modal-info {
      padding: 40px;
      height: 510px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .modal-dialog.with-image .modal-info .basic-button {
        margin-top: auto;
        margin-bottom: 0; }
      .modal-dialog.with-image .modal-info__image-wrp {
        position: absolute;
        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
        box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
        border-radius: 30px 0px 0px 30px;
        overflow: hidden; }
      .modal-dialog.with-image .modal-info__image {
        float: left;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
  .modal-dialog.wait-dialog .modal-info__modal-title {
    margin-top: -30px; }
  .modal-dialog.wait-dialog .modal-info__modal-loader {
    margin-top: -60px; }

.modal {
  pointer-events: auto; }

.modal-content {
  float: left;
  width: 100%;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 30px;
  border: none;
  padding: 60px; }
  .modal-content .close {
    position: absolute;
    opacity: 1;
    width: 80px;
    height: 80px;
    background: url("../img/close.svg") no-repeat;
    background-size: 40px 40px;
    background-position: center center;
    background-color: #000000;
    border-radius: 20px;
    right: 0;
    top: -100px;
    z-index: 50;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms; }
    .modal-content .close:active {
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9); }

.modal-info {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .modal-info__modal-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px; }
  .modal-info__text {
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px; }
  .modal-info__qr-code {
    width: 200px;
    margin-bottom: 60px; }
  .modal-info__modal-icon {
    width: 60px;
    margin-bottom: 40px; }
  .modal-info__modal-loader {
    width: 500px; }

.modal-backdrop {
  background: rgba(92, 92, 92, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }

.print-document-content {
  float: left;
  width: 100%; }

.print-document-list {
  float: left;
  width: 100%; }
  .print-document-list__item {
    float: left;
    width: 100%;
    margin-bottom: 40px; }

.print-document-link {
  float: left;
  width: 100%;
  height: 300px;
  padding: 40px 40px 40px 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 30px;
  overflow: hidden;
  text-decoration: none !important;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms; }
  .print-document-link:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9); }
  .print-document-link.from-usb {
    background: -webkit-linear-gradient(57.51deg, #FFD209 15.19%, #D77400 81.48%);
    background: -o-linear-gradient(57.51deg, #FFD209 15.19%, #D77400 81.48%);
    background: linear-gradient(32.49deg, #FFD209 15.19%, #D77400 81.48%); }
  .print-document-link.send-to-telegram {
    background: -webkit-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
    background: -o-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
    background: linear-gradient(32.49deg, #61ADFF 15.19%, #257CDA 81.48%); }
  .print-document-link.library {
    background: -webkit-linear-gradient(57.51deg, #D13B78 15.19%, #A9124F 81.48%);
    background: -o-linear-gradient(57.51deg, #D13B78 15.19%, #A9124F 81.48%);
    background: linear-gradient(32.49deg, #D13B78 15.19%, #A9124F 81.48%); }
  .print-document-link__name {
    width: auto;
    max-width: 65%;
    text-transform: uppercase;
    color: #fff !important;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px; }
  .print-document-link__image {
    width: auto;
    height: auto;
    max-width: 260px;
    max-height: 220px; }

.document-formats {
  float: left;
  width: 100%;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -10px; }
  .document-formats__item {
    margin: 0 10px; }
  .document-formats__image {
    height: 90px; }

.telegram-bot-name {
  float: left;
  width: 100%;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  .telegram-bot-name .modal-info__text {
    margin-bottom: 20px; }
  .telegram-bot-name__name {
    white-space: nowrap;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    background: -webkit-linear-gradient(57.51deg, #5A4ED1 15.19%, #2A1AC6 81.48%);
    background: -o-linear-gradient(57.51deg, #5A4ED1 15.19%, #2A1AC6 81.48%);
    background: linear-gradient(32.49deg, #5A4ED1 15.19%, #2A1AC6 81.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07); }

.search-form {
  float: left;
  width: 100%;
  margin-bottom: 40px; }
  .search-form .input-row {
    margin-bottom: 0;
    position: relative; }
    .search-form .input-row__input {
      padding-right: 140px; }

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 130px;
  height: 130px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  border: none;
  padding: 0;
  background-color: transparent;
  background: url("../img/search.svg") no-repeat;
  background-size: 40px 40px;
  background-position: center center;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms; }
  .search-button:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9); }

.documents-list {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  max-height: 1330px;
  overflow-y: auto; }
  .documents-list > div {
    margin-bottom: 40px; }

.documents-list-item {
  float: left;
  width: 100%;
  height: 100%;
  min-height: 150px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 30px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none !important;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms; }
  .documents-list-item:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9); }
  .documents-list-item__image-wrp {
    width: 83px;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .documents-list-item__image {
    width: 100%; }
  .documents-list-item__name {
    width: calc(100% - 83px);
    padding-left: 20px;
    font-size: 18px;
    line-height: 22px;
    color: #000 !important; }

.print-parameters-content {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-bottom: 30px; }

.document-information {
  float: left;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.document-text-info {
  float: left;
  width: 100%;
  margin-bottom: 30px; }
  .document-text-info__text {
    float: left;
    width: 100%;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 29px; }
    .document-text-info__text strong {
      display: inline;
      font-weight: 600; }
      .document-text-info__text strong.full {
        float: left;
        width: 100%;
        margin-bottom: 20px; }

.pages-slider-wrp {
  float: left;
  width: 100%;
  margin-top: auto;
  margin-bottom: 0; }

.pages-slider {
  float: left;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 30px;
  overflow: hidden;
  visibility: hidden;
  margin-bottom: 30px; }
  .pages-slider__item {
    height: 665px; }
  .pages-slider__image {
    float: left;
    width: 100%; }

.pages-slider-navigation {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .pages-slider-navigation__button {
    width: 80px;
    height: 80px;
    border: none;
    padding: 0;
    background: -webkit-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
    background: -o-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%);
    background: linear-gradient(32.49deg, #61ADFF 15.19%, #257CDA 81.48%);
    -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 20px;
    position: relative; }
    .pages-slider-navigation__button:before {
      content: '';
      display: block;
      float: left;
      width: 40px;
      height: 35px;
      position: absolute;
      left: 50%;
      top: 50%;
      background: url("../img/back.svg") no-repeat;
      background-size: 100% 100%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%); }
    .pages-slider-navigation__button.next-page:before {
      transform: translate(-50%, -50%) rotate(180deg);
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -moz-transform: translate(-50%, -50%) rotate(180deg);
      -ms-transform: translate(-50%, -50%) rotate(180deg);
      -o-transform: translate(-50%, -50%) rotate(180deg); }
    .pages-slider-navigation__button.slick-disabled {
      opacity: 0.5;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%); }
  .pages-slider-navigation__pages-info {
    font-size: 24px; }
    .pages-slider-navigation__pages-info span {
      display: inline; }

.print-characteristics {
  float: left;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 30px;
  padding: 40px; }

.print-characteristics-form {
  float: left;
  width: 100%; }
  .print-characteristics-form__block {
    float: left;
    width: 100%;
    margin-bottom: 30px; }
    .print-characteristics-form__block:last-child {
      margin-bottom: 0; }
    .print-characteristics-form__block.final-price {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
      .print-characteristics-form__block.final-price .print-characteristics-form__text {
        margin-bottom: 10px; }
  .print-characteristics-form__title {
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px; }
  .print-characteristics-form__text {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px; }
    .print-characteristics-form__text:last-child {
      margin-bottom: 0; }
  .print-characteristics-form__input {
    float: left;
    width: 100%;
    height: 80px;
    border: none;
    background: #F9F9F9;
    -webkit-box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.04);
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding: 0 10px;
    text-align: center;
    font-size: 24px;
    color: #000; }
    .print-characteristics-form__input::-moz-placeholder {
      color: #747474; }
    .print-characteristics-form__input::-webkit-input-placeholder {
      color: #747474; }
  .print-characteristics-form__pay-value {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 15px; }
  .print-characteristics-form .basic-button {
    height: 80px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 14px; }

.print-radio {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 20px; }
  .print-radio:last-child {
    margin-bottom: 0; }
  .print-radio__input {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 !important;
    opacity: 0;
    z-index: 30;
    cursor: pointer; }
  .print-radio__style {
    float: left;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 20px;
    overflow: hidden;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

.print-radio__input:checked + .print-radio__style {
  background: -webkit-linear-gradient(57.51deg, #FFD209 15.19%, #D77400 81.48%);
  background: -o-linear-gradient(57.51deg, #FFD209 15.19%, #D77400 81.48%);
  background: linear-gradient(32.49deg, #FFD209 15.19%, #D77400 81.48%);
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  color: #fff; }

.input-number-wrp {
  float: left;
  width: 100%; }

.chose-copies {
  visibility: hidden;
  float: left;
  width: 100%;
  padding-right: 0;
  margin-bottom: 30px; }

.jq-number__field input {
  float: left;
  width: 100%;
  height: 80px;
  background: #F9F9F9;
  -webkit-box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: 'Montserrat', sans-serif; }
  .jq-number__field input::-moz-placeholder {
    color: #000; }
  .jq-number__field input::-webkit-input-placeholder {
    color: #000; }

.jq-number__field {
  height: 80px;
  width: 100%;
  border: none !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; }

.jq-number__spin {
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%) !important;
  background: -o-linear-gradient(57.51deg, #61ADFF 15.19%, #257CDA 81.48%) !important;
  background: linear-gradient(32.49deg, #61ADFF 15.19%, #257CDA 81.48%) !important;
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 20px;
  border: none !important; }
  .jq-number__spin:after {
    display: none !important; }
  .jq-number__spin.minus {
    left: 0;
    top: 0; }
    .jq-number__spin.minus:before {
      content: '';
      display: block;
      float: left;
      width: 40px;
      height: 4px;
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: #fff;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%); }
  .jq-number__spin.plus {
    right: 0;
    top: 0; }
    .jq-number__spin.plus:before {
      content: '';
      display: block;
      float: left;
      width: 40px;
      height: 4px;
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: #fff;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%); }
    .jq-number__spin.plus:after {
      content: '';
      display: block !important;
      float: left;
      width: 40px;
      height: 4px;
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: #fff;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      transform: translate(-50%, -50%) rotate(90deg);
      -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -moz-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
      -o-transform: translate(-50%, -50%) rotate(90deg);
      border: none !important; }

.pay-qr-code {
  float: left;
  width: 100%;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .pay-qr-code .modal-info__qr-code {
    margin-bottom: 13px; }
  .pay-qr-code__descript {
    float: left;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    line-height: 29px; }

.your-pay-not-required {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  width: 640px;
  padding: 30px 10px;
  background: -webkit-linear-gradient(57.51deg, #FFD209 15.19%, #D77400 81.48%);
  background: -o-linear-gradient(57.51deg, #FFD209 15.19%, #D77400 81.48%);
  background: linear-gradient(32.49deg, #FFD209 15.19%, #D77400 81.48%);
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  font-size: 24px;
  line-height: 29px;
  text-align: center; }

.copy-document-content {
  float: left;
  width: 100%;
  padding-bottom: 30px; }

.copy-document-image-wrp {
  float: left;
  width: 100%;
  height: 850px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 30px; }
  .copy-document-image-wrp__image {
    float: left;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.copy-document-instruction {
  float: left;
  width: 100%;
  margin-bottom: 15px; }
  .copy-document-instruction__item {
    float: left;
    width: 100%;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .copy-document-instruction__number {
    width: 80px;
    height: 80px;
    background: -webkit-linear-gradient(57.51deg, #D13B78 15.19%, #A9124F 81.48%);
    background: -o-linear-gradient(57.51deg, #D13B78 15.19%, #A9124F 81.48%);
    background: linear-gradient(32.49deg, #D13B78 15.19%, #A9124F 81.48%);
    -webkit-box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 20px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 42px; }
  .copy-document-instruction__text {
    width: calc(100% - 80px);
    padding-left: 20px;
    font-size: 24px;
    line-height: 29px; }

.telegram-bot-code-wrp {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 45px; }
  .telegram-bot-code-wrp .modal-info__text {
    margin-bottom: 15px; }
    .telegram-bot-code-wrp .modal-info__text:last-child {
      margin-bottom: 0; }
  .telegram-bot-code-wrp__code {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    text-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    margin-bottom: 20px; }
